/* ===========================
   Reset & Global
=========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #000000;
  color: #ececec;
  line-height: 1.6;
}

h1, h2, h3 {
  margin-bottom: 15px;
}

/* ===========================
   Header
=========================== */
.header {
  display: flex;
  align-items: center;
  background: #ffffff;
  color: rgb(17, 38, 235);
  padding: 5px 40px;
  top: 0;
  z-index: 1000;
  position: relative;
}

.header .logo img {
  height: 80px;   /* proporsional */
  width: auto;
}

.header h1 {
  flex: 1;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

/* ===========================
   Navbar
=========================== */
.nav {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.nav ul {
  list-style: none;
  margin: 7px;
  padding: 2px 2px;
  display: flex;
}

.nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 5px 5px;
  margin: 0px 12px;
  display: inline-block;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.nav a:hover {
  background: #12329b;
  transition-duration: 0.2s;
  border-radius: 8px;
  color: #fff;
}

/* ===========================
   Section Umum
=========================== */
section {
  padding: 50px 20px;
  max-width: 1100px;
  margin: auto;
  min-height: 600px;
}

/* ===========================
   Detail Produk
=========================== */
.detail-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  text-align: center;
}

.detail-container img {
  max-width: 250px;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.detail-container h2 {
  color: #222;
  font-size: 22px;
  margin-bottom: 10px;
}

.detail-container p {
  color: #333;
  font-size: 15px;
  line-height: 1.6;
  margin: 8px 0;
}

.detail-container p strong {
  color: #0066cc;
}

.btn {
  background: #0d6efd;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.btn:hover {
  background: #094ab2;
}

/* ===========================
   Footer
=========================== */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  font-size: 15px;
}
